.nav {
  grid-column: main;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: auto;
  right: auto;
  z-index: 100;
  width: 100%;
  margin: 2.5rem 0;
  align-items: center;
  .logo {
    img {
      height: 4rem;
    }
  }
  ul {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .nav {
    .logo {
    }
    ul {
      display: flex;
      li {
        margin-left: 2rem;
        a {
          font-family: "Lato";
          font-size: 1.3rem;
          color: white;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
